{% extends 'main/base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
{% endblock stylesheets %}

{% block content%}

<div class="welcome_header">
  <h2>Explore Answerly</h2>
  <a href="{% url 'main:create_question' %}">
    <button>Ask Qustion</button>
  </a>
</div>

<div class="questions_container">
  {% for question in question_list %}
  <div class="question">
    <p class="question__votes">{{ question.votes }} votes</p>
    <p class="question__answers">{{ question.answer_set.all.count }} answers</p>
    <a class="question__title" href="{% url 'main:question_details' question.id %}">
      {{question.title}}
    </a>
    <p class="question__time">asked on - {{ question.created_at }}</p>
    <p class="question__author"> by {{ question.asked_by.first_name }}</p>
  </div>
  {% endfor %}
</div>

{% endblock content%}