{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'main/css/question_details.css' %}">
{% endblock stylesheets%}

{% block content %}
<div class="question_details_container">
  <div class="question">
    <div class="question_header">
      <h3 class="question_title">{{ question.title }}</h3>
      <a class="question_header__button" href="{% url 'main:create_question' %}">Ask Question</a>
    </div>
    <hr />

    <div class="question_info">
      <div class="question_votes">
        <!-- Conditionally add classes to buttons depending on current user has voted or not -->
        {% if request.user in question.questionvote.users_upvoted.all %}
          <svg data-hasvoted="yes" class="vote_button user_voted" id="up" width="36" height="36" viewBox="0 0 36 36">
            <path d="M2 26h32L18 10 2 26z"></path>
          </svg>
        {% else %}
          <svg data-hasvoted="no" class="vote_button" id="up" width="36" height="36" viewBox="0 0 36 36">
            <path d="M2 26h32L18 10 2 26z"></path>
          </svg>
        {% endif %}
        
        <div class="question_votes__count">
          {{question.questionvote.votes}}
        </div>
        
        {% if request.user in question.questionvote.users_downvoted.all %}
          <svg data-hasvoted="yes" class="vote_button user_voted" id="down" width="36" height="36" viewBox="0 0 36 36">
            <path d="M2 10h32L18 26 2 10z"></path>
          </svg>
        {% else %}
          <svg data-hasvoted="no" class="vote_button" id="down" width="36" height="36" viewBox="0 0 36 36">
            <path d="M2 10h32L18 26 2 10z"></path>
          </svg>
        {% endif %}
        
      </div>
      <div class="question_content">
        {{ question.content | safe }}
      </div>
    </div>
    
    <div class="question_extra_info">
      <div class="question_links">
        {% if user.is_authenticated and user == question.asked_by %}
          <a class="question_links__link" href="{% url 'main:edit_question' question.id %}">Edit</a>
          <a class="question_links__link" href="{% url 'main:delete_question' question.id %}">Delete</a>
        {% endif %}
      </div>

      <div class="question_timestamp">{{ question.created_at }}</div>

      <div class="question_author">{{ question.asked_by.get_full_name }}</div>

    </div>
  </div>

  {% if not answers %}
      <p>There are no answers to this question yet. </p>
  {% else %}
    {% for answer in answers %}
      <p> {{ answer.votes}} votes</p>
      {{ answer.content | safe }}
      <p> {{ answer.answered_by.get_full_name }} </p>
      <small> {{answer.created_at }} </small>

      {% if user.is_authenticated and user == answer.answered_by %}
        <a href="{% url 'main:edit_answer' question.id answer.id %}">Edit</a>
        <a href="{% url 'main:delete_answer' question.id answer.id %}">Delete</a>
      {% endif %}

    {% endfor %}
  {% endif%}

  <form action="{% url 'main:create_answer' question.id %}" method="POST">
    {% csrf_token %}

    {{ form | crispy }}

    <button class="btn btn-primary" type="submit">Submit answer</button>
  </form>
</div>
{% endblock content %}


{% block javascript %}
  <script>
    var csrftoken = '{{ csrf_token }}';
    var question_id = '{{ question.id }}'
  </script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script src="{% static 'main/js/simplemdeConfig.js' %}"></script>
  <script src="{% static 'main/js/vote.js' %}"></script>
{% endblock javascript %}